.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 5rem;
  box-sizing: border-box;

  @media screen and (max-width: 800px) {
    padding: 3rem;
  }

  & > .loading {
    font-size: 2rem;
  }
}
