.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 20% 5rem;
  box-sizing: border-box;

  @media screen and (max-width: 1200px) {
    padding: 0 15% 5rem;
  }

  @media screen and (max-width: 800px) {
    padding: 0 10% 5rem;
  }

  & > .loading {
    font-size: 2rem;
  }
}
