@import "../../css/mixin.scss";

.container {
  width: 100%;
}

.loading {
  font-size: 2em;

  &.imgLoaded {
    display: none;
  }
}

.loaded {
  position: relative;
  display: none;
  width: 100%;

  &.imgLoaded {
    display: block;
  }

  @media screen and (max-width: 900px) {
    font-size: 0.9rem;
  }

  @media screen and (max-width: 700px) {
    font-size: 0.8rem;
  }

  & > .back {
    position: absolute;
    top: -5px;
    transform: translateY(-100%);
    left: 5px;
    font-size: 1.5em;
  }

  & > .movieDetail {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    @include boxShadow;

    &:hover {
      & > .detail__cover {
        & > .bgImage {
          filter: grayscale(0%);
        }
      }
    }

    & > .detail__cover {
      position: relative;

      & > .bgImage {
        display: block;
        width: 100%;
        filter: grayscale(100%);
        transition: filter 0.3s ease-in-out;
      }

      & > .cover {
        position: absolute;
        bottom: -20px;
        left: 20px;
        width: 25%;
      }

      & > .title {
        position: absolute;
        bottom: 20px;
        left: calc(25% + 40px);
        right: 20px;
        font-size: 3em;
        line-height: 0.8em;
        color: #ffffff;

        @media screen and (max-width: 900px) {
          bottom: 15px;
          left: calc(25% + 35px);
          right: 15px;
        }

        @media screen and (max-width: 700px) {
          bottom: 10px;
          left: calc(25% + 30px);
          right: 10px;
        }
      }
    }

    & > .detail__details {
      padding: 30px 20px 20px;

      & > .detail__details_top {
        position: relative;
        display: flex;
        align-items: center;

        & > .year {
          font-size: 2em;
        }

        & > .info {
          display: flex;
          padding: 0 1em;

          & > .runtime {
            margin-right: 1em;
          }

          @include genres;
        }

        & > .rating {
          @include rating;
          position: absolute;
          top: -0.4em;
          right: 0px;
        }
      }

      & > .detail__details_mid {
        display: flex;
        margin: 0.5em 0 1em;

        & > .like {
          @include detailsMidBtn(#5468ff);
          margin-right: 0.5em;
        }

        & > .youtube {
          @include detailsMidBtn(#ff0000);
        }
      }

      & > .detail__details_low {
        & > .description {
          font-size: 1.2em;
        }
      }
    }
  }
}

@include ratingBgColor;
