html {
  width: 100vw;
  min-height: 100vh;
  background-color: #f0f0f0;

  & > body {
    width: 100vw;
    height: 100vh;

    #root {
      width: 100%;
      height: 100%;
      font-family: "koulen";
      user-select: none;
    }
  }
}
