html {
  width: 100%;
  min-width: 600px;
  min-height: 100%;
  background-color: #f0f0f0;

  & > body {
    width: 100%;
    min-height: 100%;

    #root {
      display: flex;
      width: 100%;
      min-height: 100%;
      font-family: "koulen";
      user-select: none;
    }
  }
}
